{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Enriqueta">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/compiled.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/Green-logo.png' %}">
    <title>Aarshiti Group</title>
</head>

<body>
    <div class="construction-container"
        style="background-image: url(static/assets/bg.jpg); background-repeat: no-repeat;">
        <div class="construction-header">
            <h1 style="text-align: center;">Comming Soon ...</h1>
        </div>

        <div class="construction-box">
            <img src="{% static 'assets\Green-logo.png' %}" alt="" />

            <div class="construction-tree">
                <div class="row row1">
                    <p style=" font-family: 'Enriqueta';
                    margin-top: 20px;
                    font-size: 7vh;
                    text-align: center;">Aarshiti Group</p>
                </div>
                <hr
                    style="text-align:center;margin:5%;height:2px;border-width:0;color:rgb(6, 172, 28);background-color:rgb(6, 172, 28)">
                <p class="p1">Our Arshiti Group contains total three domains !!</p>

                <div class="groups">
                    <div class="group-section">
                        <div class="group-name">
                            <p id="name">Agrotech</p>
                        </div>
                        <div class="group-info">
                            <p id="info"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam unde recusandae,
                                iste fugit earum et </p>
                        </div>
                    </div>
                    <div class="group-section">
                        <div class="group-name">
                            <p id="name">Agrotech</p>
                        </div>
                        <div class="group-info">
                            <p id="info"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam unde recusandae,
                                iste fugit earum et </p>
                        </div>
                    </div>
                    <div class="group-section">
                        <div class="group-name">
                            <p id="name">Agrotech</p>
                        </div>
                        <div class="group-info">
                            <p id="info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam unde recusandae,
                                iste fugit earum et </p>
                        </div>
                    </div>
                </div>
                <div class="row row2">
                    <div class="col col1">Notify Me</div>
                </div>
                <div class="construction-footer">

                    <div class="social">
                        <a href="https://www.facebook.com/aarshiti.udyogsamuh" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/aarshitigroup" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>