{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<!-- <div class="container-fluid py-2">
  <div class="head-block" style="width: 100%; height: auto; display: block">
    <img src="{% static 'assets/scholarship3.jpeg' %}" alt="Snow" style="width: 100%; height: auto; display: block" />
    <div class="head-content">
      <p>
        A unique blend of flavour,generosity and innovation.

      </p>
      <a href="#" class="btn btn-primary" style="  background-color: rgb(3, 133, 126) !important;" ;>Go somewhere</a>
    </div>
  </div>
</div> -->

<div class="construction-box">
  <img src="{% static 'assets\Green-logo.png' %}" alt="" />

  <div class="construction-tree">
    <div class="row row1">
      <p style="
          margin-top: 20px;
          text-align: center;"><span style=" font-size: 3.5vw;">Aarshiti Group</span>
        <br>
        <span style="font-size: 2vw;">A unique blend of flavour, generosity and innovation.</span>
      </p>
    </div>
  </div>

</div>

<div class="container-fluid py-2">
  <p style=" margin: 0%; padding: 50px 30px; background:var(--primary);  color: var(--white);
  text-align: center;">
    Aarshiti Group was established in the year 2019 by xyz. It is a private organization with two major domains; namely Aarshiti Udyog and Aarshiti Foundation. Aarshiti Udyog produces over 18 different varieties of spices whereas Aarshiti Foundation is a charitable organization which renders scholarships to meritorious students from rural areas. The organization endeavours to assist children with bright minds who are curbed by financial constraints.
  </p>
</div>

<div class="cards-container" style="padding:0 25px;">
  <div class="card-container">
    <div class="blog-col curves-left curves-top">
      <img class="blog-img" src="{% static 'assets/1-i.jpg' %}" />
    </div>
    <div class="blog-col curves-right curves-bottom">
      <div class="blog-content">
        <h1>Foundation</h1>
        <p>
          Aarshiti Foundation aspires to economically support ingenious students who are financially weak. A sum of ₹30,000 will be meted out to three exemplary students to help them with their education. The team of Aarshiti Foundation frequently participates in varied hackathons. The prize money earned from winning the same is then granted as scholarships.
        </p>
        <a><div class="blog-btn">Know More</div></a>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="blog-col curves-left curves-top">
      <img class="blog-img" src="{% static 'assets/1-i.jpg' %}" />
    </div>
    <div class="blog-col curves-right curves-bottom">
      <div class="blog-content">
        <h1>Agro-Tech</h1>
        <p>
          The Agro-tech domain of Aarshiti undertakes industry based projects for the betterment of agricultural resources. Manufacturing of Egg Incubators, Trollies and Dassaults are a few projects that the company has successfully brought to fruition. These products are efficient as well as budget friendly.
        </p>
        <div class="blog-btn">Know More</div>
      </div>
    </div>
  </div>
  <div class="card-container">
    <div class="blog-col curves-left curves-top">
      <img class="blog-img" src="{% static 'assets/1-i.jpg' %}" />
    </div>
    <div class="blog-col curves-right curves-bottom">
      <div class="blog-content">
        <h1>Spices</h1>
        <p>
          Producers of 18+ authentic spices from the Indian kitchen, quality is of paramount importance when it comes to Arshiti Groups of spices. We mass produce over 18 different aromatic spices to add irresistible flavour to your dishes.
        </p>
        <div class="blog-btn">Know More</div>

      </div>
    </div>
  </div>
</div>
{% endblock %}