<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" style="box-sizing: border-box;
border-radius: 5px;
background-color: white;
box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
position: relative;
top: 20px;
z-index: 1;">
        <div class="receipt_box" style="box-sizing: border-box;">
            <div class="head" style="box-sizing: border-box;
        padding-top: 5px;
        " align="center">
                <div class="logo" style="box-sizing: border-box;flex: 1 0 30%; width: 20%;">
                    <img src="https://raw.githubusercontent.com/Vaishnavi-N-08/AarshitiGroup/master/static/assets/Green-logo.png"
                        style="box-sizing: border-box;width: 100%;">
                </div>
            </div>
            <div class="body" style="box-sizing: border-box;padding: 16px 32px;">
                <div class="total" style="box-sizing: border-box;padding: 12px 0;">
                    <span style="box-sizing: border-box; color: slategray; font-weight: bold; color: chocolate;"><span
                            style="color: black;">Hi, </span>omsurushe1907@gmail.com</span>
                    <span class="total_price" style="box-sizing: border-box;float: right;color: slategray;">March 27,
                        2022</span>
                </div>
                <div class="total" style="box-sizing: border-box;padding: 12px 0;">
                    <span style="box-sizing: border-box; color: slategray;"><span style="color: black;"><strong>Contact</strong>
                        </span>932269165</span>
                </div>
                <div class="total" style="box-sizing: border-box;padding: 12px 0;">
                    <span style="box-sizing: border-box; color: slategray;"><span style="color: black;"><strong>Address</strong>
                        </span>Nagpur mahal, pulis chauki</span>
                </div>
                <div class="cart" style="box-sizing: border-box;">
                    <div class="title"
                        style="box-sizing: border-box;margin-bottom: 16px;font-size: 20px;font-weight: bold;text-align: center;text-transform: capitalize;">
                        cart</div>
                    <div class="content" style="box-sizing: border-box;font-size: 14px;">


                        <div class="total" style="box-sizing: border-box;padding: 12px 0;border-top: 2px dashed #ccc;">
                            <span style="box-sizing: border-box; color: slategray;">Red Chilli Powder x 1</span>
                            <span class="total_price" style="box-sizing: border-box;float: right;color: #db4a00;">₹
                                100.00</span>
                        </div>


                        <div class="total"
                            style="box-sizing: border-box;padding: 12px 0;font-weight: bold;text-transform: uppercase;border-top: 2px solid darkorange;">
                            <span style="box-sizing: border-box;">total</span>
                            <span class="total_price" style="box-sizing: border-box;float: right;color: #db4a00;">₹
                                100.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>