{% extends 'base.html' %}
{% load static %}


{% block head %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<title>Scholarship Home</title>
{% endblock head %}

{% block body %}

<!--1 horizontal card -->

<div class="container-fluid" style="padding-bottom: 3%">
  <div class="card text-center border-0">
    <div class="card-body">
      <h3 class="card-title" style="margin-top: 15px;">Aarshiti Foundation Scholarships</h3>
      <p class="card-text">
        <strong style="font-size: 1.5vw;"><i>‘We make a living by what we get but we make a life by what we give’</i></strong>
        <br>
        We at Arshiti group believe in giving our best to society!
        We strive towards financially helping some of the brightest minds of our State. The process of choosing these
        candidates will be purely merit-based.
        Three of the best and brightest students among all the applicants will be selected as beneficiaries of the
        scholarship of ₹10,000/- each.
        The Aarshiti Group aspires to encourage deserving and needful students with this scholarship scheme.
        It should be noted that only first year students are eligible for this scheme.

      </p>
      <!-- <a href="#" class="btn btn-primary"
        style="background-color: rgb(3, 133, 126) !important; font-size: 3vh !important; margin-top: 2%; padding: 12px;">See
        Gallery</a> -->
    </div>
  </div>
</div>

<!-- 2 column cards -->

<div class="container-fluid">
  <div class="" style="padding-top: 3%">
    <div class="row g-0">
      <div class="col-md-6" style="padding-right: 0.5%; padding-left: 1.5%;">
        <div class="card  mb-3">
          <div class="card-header" style="text-align: center !important;background: var(--primary);">
            <h3>Required Documents</h3>
          </div>
          <div class="card-body" style="background: var(--smoke);">
            <p class="card-text">
            <ul>
              <li>Income Certificate</li>
              <li>Id Proof</li>
              <li>12th Marksheet</li>
              <li>Fees Reciept</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-left: 0.5%; padding-right: 1.5%; ;">
        <div class="card  mb-3">
          <div class="card-header" style="text-align: center !important; background: var(--primary);">
            <h3>Eligibility Criteria</h3>
          </div>
          <div class="card-body" style="background: var(--smoke);">
            <p class="card-text">
            <ul>
              <li>Annual Income should be less than 1,00,000 ₹</li>
              <li>Nationality should be Indian</li>
              <li>12th grades should be more than 60%</li>
              <li>He/She should be a student of Vishwakarma Institute of Technology, Pune</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Apply button -->

<div class="container-fluid" style="padding-top: 1%">
  <div class="card border-0" style="padding-top: 1%; padding-bottom: 1%">
    <div class="container-fluid" align="center">
      <a href="#registrationBox"><button type="button" class="btn"
          style="background:var(--primary) !important;font-size: 3vh !important; margin-top: 2%; padding: 7px;color: var(--white);">Apply
          Now</button></a>
    </div>
  </div>
</div>

<!-- Card -->

<!-- <div class="student-history">
  <div class="student-card">
    <div class="student-img">
      <img class="round-img" style="box-shadow: 0 0 20px #1f1e1e1f" src="{% static 'assets/fb.png' %}" alt="" />
    </div>
    <div class="student-info">
      <span class="student-name">Om surushe</span>
      <br />
      2,00,000.00 ₹
    </div>
  </div>
  <div class="student-card">
    <div class="student-img">
      <img class="round-img" style="box-shadow: 0 0 20px #1f1e1e1f" src="{% static 'assets/fb.png' %}" alt="" />
    </div>
    <div class="student-info">
      <span class="student-name">Om surushe</span>
      <br />
      2,00,000.00 ₹
    </div>
  </div>
  <div class="student-card">
    <div class="student-img">
      <img class="round-img" style="box-shadow: 0 0 20px #1f1e1e1f" src="{% static 'assets/fb.png' %}" alt="" />
    </div>
    <div class="student-info">
      <span class="student-name">Om surushe</span>
      <br />
      2,00,000.00 ₹
    </div>
  </div>
  <div class="student-card">
    <div class="student-img">
      <img class="round-img" style="box-shadow: 0 0 20px #1f1e1e1f" src="{% static 'assets/fb.png' %}" alt="" />
    </div>
    <div class="student-info">
      <span class="student-name">Om surushe</span>
      <br />
      2,00,000.00 ₹
    </div>
  </div>

</div> -->

<!-- Scholarship Registration -->

<div id="registrationBox" class="registration-box">
  <div class="registration-left">
    <strong style="font-size: 1.5vw;"><i>Let us be the air beneath your wings</i></strong>
    <p style="font-size: 1.6vw;">Choose from what is best for you by enrolling, <strong> NOW!</strong></p>
  </div>
  <div class="registration-right">
    <div class="registration-container">
      <div class="title" style="text-align: center;">Schloarship Registration</div>
      <div class="content">
        <form method='POST' enctype="multipart/form-data">
          {% csrf_token %}

          <div class="detail-title">Personal Details</div>

          <div class="user-details">
            <div class="input-box">
              <span class="details">Full Name</span>
              <input type="text" name="fullname" id="fullname" placeholder="Enter your name" required>
            </div>
            {% if user.is_authenticated %}
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" name="email" id="email" placeholder="Enter your email" readonly value={{user.email}}>
            </div>
            <div class="input-box">
              <span class="details">Secondary Email</span>
              <input type="text" name="secemail" id="secemail" placeholder="Enter your email" required>
            </div>
            {% else %}
            <div class="input-box">
              <span class="details">Email</span>
              <input type="text" name="email" id="email" placeholder="Enter your email" required>
            </div>
            {% endif %}

            <div class="input-box">
              <span class="details">Mobile No</span>
              <input type="tel" name="number" id="number" placeholder="Enter Mobile No" maxlength="10" required>
            </div>
            <div class="input-box">
              <span class="details">Address</span>
              <textarea name="address" id="address" cols="30" rows="2"
                style="border: 1px solid rgb(255, 153, 0) !important; width: 100%; border-radius: 10px;"></textarea>
            </div>
            <div class="input-group mb-3">
              <input type="file" name="income" id="income" accept=".doc,.pdf" class="form-control" required>
              <label class="input-group-text">Income Certificate</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" name="proof" id="proof" accept=".doc,.pdf" class="form-control" required>
              <label class="input-group-text">ID Proof(Aadhar/Pan)</label>
            </div>
          </div>

          <div class="detail-title">Educational Details</div>

          <div class="user-details">
            <div class="input-box">
              <span class="details">College Name</span>
              <input type="text" name="collegename" id="collegename" placeholder="college Name"
                value="Vishwakarma Institute of Technology,Pune" readonly>
            </div>
            <div class="input-box">
              <span class="details">GR No</span>
              <input type="tel" name="grno" id="grno" placeholder="GR No" required>
            </div>
            <div class="input-group mb-3">
              <input type="file" name="marksheet" id="marksheet" accept=".doc,.pdf" class="form-control" required>
              <label class="input-group-text">Marksheet(12th)</label>
            </div>
            <div class="input-group mb-3">
              <input type="file" name="feereceipt" id="feereceipt" accept=".doc,.pdf" class="form-control" required>
              <label class="input-group-text">Fee receipt</label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock body %}