{% extends 'base.html' %}
{% load static %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<title>Spices</title>
<style>
    .thanks-div {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-color: orange;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 20px;
    }
</style>
{% endblock head %}


{% block body %}
{% if flag %}
<div class="container" style="box-sizing: border-box;
border-radius: 5px;
background-color: white;
box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
position: relative;
top: 20px;
z-index: 1;">
    <div class="receipt_box" style="box-sizing: border-box;">
        <div class="head" style="box-sizing: border-box;
        padding-top: 5px;
        " align="center">
            <div class="logo" style="box-sizing: border-box;flex: 1 0 30%; width: 20%;">
                <img src="https://raw.githubusercontent.com/Vaishnavi-N-08/AarshitiGroup/master/static/assets/Green-logo.png" style="box-sizing: border-box;width: 100%;">
            </div>
        </div>
        <div class="body" style="box-sizing: border-box;padding: 16px 32px;">
            <div class="total" style="box-sizing: border-box;padding: 12px 0;">
                <span style="box-sizing: border-box; color: slategray; font-weight: bold; color: chocolate;"><span style="color: black;">Hi, </span>{{user.username}}</span>
                <span class="total_price" style="box-sizing: border-box;float: right;color: slategray;">{{today}}</span>
            </div>
            <div class="cart" style="box-sizing: border-box;">
                <div class="title" style="box-sizing: border-box;margin-bottom: 16px;font-size: 20px;font-weight: bold;text-align: center;text-transform: capitalize;">cart</div>
                <div class="content" style="box-sizing: border-box;font-size: 14px;">
                    
                    {% for i,j,k in item_info %}
                    <div class="total" style="box-sizing: border-box;padding: 12px 0;border-top: 2px dashed #ccc;">
                        <span style="box-sizing: border-box; color: slategray;">{{i.name}} x {{j}}</span>
                        <span class="total_price" style="box-sizing: border-box;float: right;color: #db4a00;">₹ {{k}}</span>
                    </div>
                    {% endfor %}
                    
                    <div class="total" style="box-sizing: border-box;padding: 12px 0;font-weight: bold;text-transform: uppercase;border-top: 2px solid darkorange;">
                        <span style="box-sizing: border-box;">total</span>
                        <span class="total_price" style="box-sizing: border-box;float: right;color: #db4a00;">₹ {{total}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="thanks-div">
    <p style="font-weight: bold; font-size: 3vh;">Thanks for shopping with us
        your total is {{total}}</p>
</div>

{% else %}
<div style="margin: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;">
    <form action="" method="POST" style="display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;">
        {% csrf_token %}
        <div class="card-container" style="width: 100%; display: flex;">
            {% for spice in spices %}
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="{{ spice.photo.url }}" class="card-img-top" alt="...">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title">{{ spice.name }}</h5>
                    <p class="card-text">{{ spice.description }}</p>
                    <p class="card-text">{{ spice.price }}</p>
                    <p class="card-text">{{ spice.quantity }}</p>
                    <div class="input-group mb-3" id="{{ spice.id }}inp" hidden="true">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="decreaseQuantity('{{ spice.id }}')">-</button>
                        </div>
                        <input type="text" class="form-control" id="{{ spice.id }}" name="{{ spice.id }}" value="0"
                            readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                onclick="increaseQuantity('{{ spice.id }}')">+</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="{{ spice.id }}abtn"
                        onclick="addToCart('{{ spice.id }}')">Add to cart</button>
                    <button type="button" class="btn btn-danger" id="{{ spice.id }}rbtn"
                        onclick="removeFromCart('{{ spice.id }}')" hidden>Remove from cart</button>

                </div>
            </div>
            {% endfor %}
        </div>
        <div id="submitbtn" hidden style="padding:10px;">
            <div class="detail-title"> Order Details</div>

            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone number"
                required>
            <!--  address -->
            <input type="text" class="form-control" id="address" name="address" placeholder="Enter your address"
                required>
            <button type="submit" class="btn btn-primary" style="margin-top:10px;" onclick="myFunction()" >Buy Now</button>
        </div>
    </form>
</div>


<script>

    itemsAdded = [];

    function submitbtnVisibility() {
        if (itemsAdded.length > 0) {
            document.getElementById("submitbtn").hidden = false;
        } else {
            document.getElementById("submitbtn").hidden = true;
        }
    }




    function increaseQuantity(id) {
        var quantity = document.getElementById(id).value;
        quantity++;
        document.getElementById(id).value = quantity;
    }

    function decreaseQuantity(id) {
        var quantity = document.getElementById(id).value;
        if (quantity > 0) {
            quantity--;
            document.getElementById(id).value = quantity;
        }
    }

    function addToCart(id) {
        var inpbox = document.getElementById(id + "inp");
        inpbox.hidden = false;
        var inp = document.getElementById(id);
        inp.value = 1;
        itemsAdded.push(id);
        console.log(itemsAdded);
        var abtn = document.getElementById(id + "abtn");
        abtn.hidden = true;
        var rbtn = document.getElementById(id + "rbtn");
        rbtn.hidden = false;
        submitbtnVisibility()
    }

    function removeFromCart(id) {
        var inpbox = document.getElementById(id + "inp");
        inpbox.hidden = true;
        var inp = document.getElementById(id);
        inp.value = 0;
        var index = itemsAdded.indexOf(id);
        itemsAdded.splice(index, 1);
        console.log(itemsAdded);
        var abtn = document.getElementById(id + "abtn");
        abtn.hidden = false;
        var rbtn = document.getElementById(id + "rbtn");
        rbtn.hidden = true;
        submitbtnVisibility()
    }

   
function myFunction() {
  alert("Click on OK to continue shopping");
}


    
</script>
{% endif %}


{% endblock body %}